.container.lg.mx-auto.px-5.min-h-screen.py-5
  .min-h-screen
    %h3.text-3xl Notifications
    - @notifications.each do |notification|
      .received-invitation.px-4.py-4
      .received-invitation.px-4.py-4.h-20.flex.justify-between{ class: cycle("", "bg-gray-400")}
        .info
          %span= notification.message
        .actions
          -# = link_to "Decline", invite_path(invite), method: :delete, class: "inline-block py-2 px-4 border-2 border-red-800 rounded-lg text-red-800 font-bold"
          -# = link_to "Accept", invite_path(invite), method: :patch, class: "inline-block py-2 px-4 border-2 border-indigo-800 rounded-lg text-indigo-800 font-bold"